# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=booking
APP_ENV="production"

# JWT Configuration
JWT_SECRET=digitalscretboss

# Server Configuration
SERVER_PORT=8081

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0


